<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<style>
    footer {
        background-color: rgba(0, 0, 0, 0.3);
        display: grid;
        grid-template-columns: auto auto auto auto;
        text-decoration: none;
        height: 40vh;
        color: black;

    }

    .foot2 {
        display: grid;
        grid-template-columns: auto auto auto auto;
        text-decoration: none;

        color: black;
        margin-left: 200px;
        margin-top: 20px;

    }

    .foot2 h3 {
        padding-top: -4px;
    }



    li {
        list-style: none;
        padding: 8px;
    }
</style>

<body>
    <footer>
        <div class="foot2">
            <div>
                <ul>
                    <li>
                        <h3>product</h3>
                    </li>
                    <li>eyeg lasses</li>
                    <li>computer glasses</li>
                    <li>sunglasses</li>
                    <li> reading glasses</li>
                    <li> swiming glasses</li>
                </ul>
            </div>
            <div class="foot2">
                <ul>
                    <h3>stores</h3>
                    <li>store locator</li>
                    <li>book an apointment</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>
                        <h3>about us</h3>
                    </li>
                    <li>Our story</li>
                    <li>work with us</li>
                    <li>blogs</li>
                </ul>
            </div>
            <div class="foot3">
                <ul>
                    <li>
                        <p>Copyright <i class="far fa-copyright"></i>

                            all rights are reserved </p>
                    </li>
                </ul>
            </div>
        </div>

    </footer>

</body>

</html>