<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .container {
        display: grid;

        grid-template-columns: auto auto auto;
        perspective: 500px;
        grid-template-rows: 70vh 70vh 70vh;
        grid-row-gap: 30px;
        height: 228vh;
        color: black;
        align-items: center;
        width: 100%;

    }


    .cart {
        transform-style: preserve-3d;

        min-height: 69vh;
        margin-left: 4vw;
        font-family: 'Quicksand', sans-serif;

        color: black;
        transition: all 0.4s ease-in-out;
        width: 25rem;
        border-radius: 20px;
        box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 0 50px 0 rgba(0, 0, 0, 0.2);
    }

    .cart:hover {
        transform: translateZ(20px);
        background-color: white;
    }

    .sneaker {
        display: flex;
        min-height: 35vh;
        align-items: center;
        justify-content: center;


    }

    .sneaker img {
        width: 50vh;
        margin-left: 30px;
        height: 80%;
        z-index: 2;
        transition: all 0.75s ease-out;

    }

    .cart #hearticon {
        cursor: pointer;
        transform: translateZ(1px);
        color: red;
        font-size: 1.5rem;
        padding-top: 20px;
        padding-right: 20px;
        float: right;
    }




    .info h1 {
        text-align: center;
        font-size: 1.5rem;
        transition: all 0.75s ease-out;
    }

    .info p {
        text-align: center;
        font-size: 1rem;
        color: black;
        transition: all 0.75s ease-out;

    }

    .sizes {
        display: flex;
        margin-top: 68px;
        justify-content: center;

    }

    .sizes button {
        transition: all 0.75s ease-out;
        height: 30px;
        margin: 2px;
        border-radius: 50%;

        width: 30px;
        background: none;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        font-weight: bold;

    }

    .sizes button:hover {
        background-color: red;
    }


    .purchase {
        margin-top: -30px;

    }

    .purchase button {
        width: 50%;
        font-size: 1rem;
        margin-left: 105px;
        height: 40px;
        transition: all 0.75s ease-out;
        background: #f54642;
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 30px;
        font-weight: bold;
    }

    .falseamount {
        color: rgba(0, 0, 0, 0.5);
        text-decoration-line: line-through;
    }
</style>

<body>
    <div class="container">

        <div class="cart">
            <i class="fa fa-heart-o" aria-hidden="true" id="hearticon"></i>
            <div class="sneaker">
                <img src="images/n1.webp" alt="adidas image">

            </div>
            <div class="info">
                <h1 class="itemname">vancennt lay</h1>
                <p class="itemdesc">Blue White Line Full Rim Rectangle Vincent Chase Eyeglasses</p>
                <p><i class="fa fa-inr" aria-hidden="true"></i> <span class="itemamount">1999/- </span> <span
                        class="falseamount"> <i class="fa fa-inr" aria-hidden="true"></i> <span
                            class="itemamount">1,999</span></span></p>
                <p>lense heieght</p>
            </div>
            <div class="sizes">
                <button>34</button>
                <button>40</button>
                <button class="active">42</button>
                <button>34</button>
            </div>
            <div class="purchase">
                <button>add to cart </button>
            </div>
        </div>


        <div class="cart">
            <i class="fa fa-heart-o" aria-hidden="true" id="hearticon"></i>
            <div class="sneaker">
                <img src="images/n2.webp" alt="adidas image">

            </div>
            <div class="info">
                <h1 class="itemname">vancennt lay</h1>
                <p class="itemdesc">Blue White Line Full Rim Rectangle Vincent Chase Eyeglasses</p>
                <p><i class="fa fa-inr" aria-hidden="true"></i> <span class="itemamount">1999/- </span> <span
                        class="falseamount"> <i class="fa fa-inr" aria-hidden="true"></i> <span
                            class="itemamount">1,999</span></span></p>
                <p>lense heieght</p>
            </div>
            <div class="sizes">
                <button>34</button>
                <button>40</button>
                <button class="active">42</button>
                <button>34</button>
            </div>
            <div class="purchase">
                <button>add to cart </button>
            </div>
        </div>


        <div class="cart">
            <i class="fa fa-heart-o" aria-hidden="true" id="hearticon"></i>
            <div class="sneaker">
                <img src="images/n3.webp" alt="adidas image">

            </div>
            <div class="info">
                <h1 class="itemname">vancennt lay</h1>
                <p class="itemdesc">Blue White Line Full Rim Rectangle Vincent Chase Eyeglasses</p>
                <p><i class="fa fa-inr" aria-hidden="true"></i> <span class="itemamount">1999/- </span> <span
                        class="falseamount"> <i class="fa fa-inr" aria-hidden="true"></i> <span
                            class="itemamount">1,999</span></span></p>
                <p>lense heieght</p>
            </div>
            <div class="sizes">
                <button>34</button>
                <button>40</button>
                <button class="active">42</button>
                <button>34</button>
            </div>
            <div class="purchase">
                <button>add to cart </button>
            </div>
        </div>


        <div class="cart">
            <i class="fa fa-heart-o" aria-hidden="true" id="hearticon"></i>
            <div class="sneaker">
                <img src="images/n4.jpg" alt="adidas image">

            </div>
            <div class="info">
                <h1 class="itemname">vancennt lay</h1>
                <p class="itemdesc">Blue White Line Full Rim Rectangle Vincent Chase Eyeglasses</p>
                <p><i class="fa fa-inr" aria-hidden="true"></i> <span class="itemamount">1999/- </span> <span
                        class="falseamount"> <i class="fa fa-inr" aria-hidden="true"></i> <span
                            class="itemamount">1,999</span></span></p>
                <p>lense heieght</p>
            </div>
            <div class="sizes">
                <button>34</button>
                <button>40</button>
                <button class="active">42</button>
                <button>34</button>
            </div>
            <div class="purchase">
                <button>add to cart </button>
            </div>
        </div>


        <div class="cart">
            <i class="fa fa-heart-o" aria-hidden="true" id="hearticon"></i>
            <div class="sneaker">
                <img src="images/n5.webp" alt="adidas image">

            </div>
            <div class="info">
                <h1 class="itemname">vancennt lay</h1>
                <p class="itemdesc">Blue White Line Full Rim Rectangle Vincent Chase Eyeglasses</p>
                <p><i class="fa fa-inr" aria-hidden="true"></i> <span class="itemamount">1999/- </span> <span
                        class="falseamount"> <i class="fa fa-inr" aria-hidden="true"></i> <span
                            class="itemamount">1,999</span></span></p>
                <p>lense heieght</p>
            </div>
            <div class="sizes">
                <button>34</button>
                <button>40</button>
                <button class="active">42</button>
                <button>34</button>
            </div>
            <div class="purchase">
                <button>add to cart </button>
            </div>
        </div>

        <div class="cart">
            <i class="fa fa-heart-o" aria-hidden="true" id="hearticon"></i>
            <div class="sneaker">
                <img src="images/n6.webp" alt="adidas image">

            </div>
            <div class="info">
                <h1 class="itemname">vancennt lay</h1>
                <p class="itemdesc">Blue White Line Full Rim Rectangle Vincent Chase Eyeglasses</p>
                <p><i class="fa fa-inr" aria-hidden="true"></i> <span class="itemamount">1999/- </span> <span
                        class="falseamount"> <i class="fa fa-inr" aria-hidden="true"></i> <span
                            class="itemamount">1,999</span></span></p>
                <p>lense heieght</p>
            </div>
            <div class="sizes">
                <button>34</button>
                <button>40</button>
                <button class="active">42</button>
                <button>34</button>
            </div>
            <div class="purchase">
                <button>add to cart </button>
            </div>
        </div>

        <div class="cart">
            <i class="fa fa-heart-o" aria-hidden="true" id="hearticon"></i>
            <div class="sneaker">
                <img src="images/n7.webp" alt="adidas image">

            </div>
            <div class="info">
                <h1 class="itemname">vancennt lay</h1>
                <p class="itemdesc">Blue White Line Full Rim Rectangle Vincent Chase Eyeglasses</p>
                <p><i class="fa fa-inr" aria-hidden="true"></i> <span class="itemamount">1999/- </span> <span
                        class="falseamount"> <i class="fa fa-inr" aria-hidden="true"></i> <span
                            class="itemamount">1,999</span></span></p>
                <p>lense heieght</p>
            </div>
            <div class="sizes">
                <button>34</button>
                <button>40</button>
                <button class="active">42</button>
                <button>34</button>
            </div>
            <div class="purchase">
                <button>add to cart </button>
            </div>
        </div>

        <div class="cart">
            <i class="fa fa-heart-o" aria-hidden="true" id="hearticon"></i>
            <div class="sneaker">
                <img src="images/n1.webp" alt="adidas image">

            </div>
            <div class="info">
                <h1 class="itemname">vancennt lay</h1>
                <p class="itemdesc">Blue White Line Full Rim Rectangle Vincent Chase Eyeglasses</p>
                <p><i class="fa fa-inr" aria-hidden="true"></i> <span class="itemamount">1999/- </span> <span
                        class="falseamount"> <i class="fa fa-inr" aria-hidden="true"></i> <span
                            class="itemamount">1,999</span></span></p>
                <p>lense heieght</p>
            </div>
            <div class="sizes">
                <button>34</button>
                <button>40</button>
                <button class="active">42</button>
                <button>34</button>
            </div>
            <div class="purchase">
                <button>add to cart </button>
            </div>
        </div>
        <div class="cart">
            <i class="fa fa-heart-o" aria-hidden="true" id="hearticon"></i>
            <div class="sneaker">
                <img src="images/n1.webp" alt="adidas image">

            </div>
            <div class="info">
                <h1 class="itemname">vancennt lay</h1>
                <p class="itemdesc">Blue White Line Full Rim Rectangle Vincent Chase Eyeglasses</p>
                <p><i class="fa fa-inr" aria-hidden="true"></i> <span class="itemamount">1999/- </span> <span
                        class="falseamount"> <i class="fa fa-inr" aria-hidden="true"></i> <span
                            class="itemamount">1,999</span></span></p>
                <p>lense heieght</p>
            </div>
            <div class="sizes">
                <button>34</button>
                <button>40</button>
                <button class="active">42</button>
                <button>34</button>
            </div>
            <div class="purchase">
                <button>add to cart </button>
            </div>
        </div>






    </div>
</body>
<script>



</script>

</html>